:root {
    --naranja: #F90;
    --amarillo: rgb(255, 217, 0);
    --negro: #000;
    --negro2: #444;
    --gris: #BBB;
    --blanco: #FFFFFF;
    --espacio: 60px;
    --azul: rgb(22, 9, 212);
    --celeste:cornflowerblue;
}

body {
    background-color: var(--negro2);
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;
    /* FONDO */
    background-image: url("Images/roma.jpg");
    background-size:cover;

}

form {
    width: 450px;
    height: 550px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
   
}

.titulo-contacto {
    color: var(--blanco);
    text-align: center;

    font-size: 30px;
    margin-bottom: 25px;

    

}
input, textarea {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 20px;
    border:none
    
}

textarea {
    min-height: 100px; /* minimo de alto */
    max-height: 200px; /* maximo de alto */
    max-width: 410px;
    min-width: 410px;

}
.nav__ul_responsive {
    display: none;
    
}

.nav {
    background-color: var(--celeste);
    display: inline block;
    max-height: 40px;
}
.nav__li {
    display: inline-block;
    padding: 15px; 
  
}

.nav__li a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
 
.nav__li :hover {
    color: #bbb;
}

.nav__li :hover > a{
    color: #bbb;
}


.nav__li i {
    color: whitesmoke;
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
   
} 

.nav__responsive_buttom_container{
    position: relative;
    width:100%;
    font-size: 29px;
    background-color: var(--celeste);
    text-align: center;
    margin-top: -60px;

}

.nav__responsive_buttom {

    padding: 6px 20px;
    text-align: right;
    width: 100% ;
     
}
    

@media only screen and ( max-width: 1050px) {
    .nav__ul {
        display: none;
    }


    .nav {
        width: 100%;
        background-color: cornflowerblue;
    }

    .nav__ul_responsive {
        display: block;
        position: relative;
        width: 100%;
        height: 37px;
        padding: 0; 
        margin-top: 37px;
        padding-top: 27px;
        
         
    }
     .nav__li_container  {
        position: relative;
        top: -1000px;
        height: calc(100vh -64px);
        background-color:var(--celeste);
        transition: all 1.5s;
        z-index: 1;
        width: 50%;
        padding-top: 27px;
        opacity: 0.9;
      
    } 
.nav__li_responsive {
    width: 100%;
    padding: 10px 20px;
    margin-left: 3 0px;
    font-family: 'PT Serif', serif;


} 


.nav__li_responsive i {

   box-sizing: border-box;
   text-align: center;
   margin-right: 5px;
   width: 30px;
   color: blue;

}

.nav__li_responsive a {
    color:blue ;
    text-decoration: none;
}

.nav__ul_responsive:hover > .nav__li_container {

    top: -27px;

}

}

