:root {
  
    --naranja: #F90;
    --amarillo: rgb(255, 217, 0);
    --negro: #000;
    --negro2: #444;
    --gris: #BBB;
    --blanco: #FFFFFF;
    --espacio: 60px;
    --azul: rgb(22, 9, 212);
    --celeste:cornflowerblue;


}

/* Resetear valores predeterminados*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    
    background-color: var(--negro2);
    font-family: Arial, Helvetica, sans-serif;
    background-attachment: fixed;

    background-image: url("roma.jpg");
    background-size:cover;

}

.cabecera,
.contenedor {
    max-width: 1400px;
    margin: auto;
}

.cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
    text-decoration: none;
}

.cabecera h1 {
   
    font-size: 24px;
}

.contenedor {
    border-radius: 8px 8px 0 0;
    
    
}

/*
    -------------------------------------
                  Navegación
    -------------------------------------
*/

.nav {
    background-color: var(--celeste);
    border-radius: 10px 10px 0 0;
    margin-bottom: var(--espacio);
    text-decoration: none;
    cursor: pointer;
}

.nav-lista {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
    
}

.nav-lista_item {
    flex-grow: 1;
    text-align: center;
    border-right: 5px solid whitesmoke;

    
    
}

.nav-link {
    color: var(--blanco);
    font-weight: bold;
    display: block;
    text-decoration: none;
}
.nav-link:hover {
    text-decoration: underline;
}

.nav-form {
    cursor: pointer;

} 



/*
    --------------------------------------------
            Slider de imagenes de You Tube
    ---------------------------------------------
*/

.imagen {
    text-align: center;
    margin-bottom: 150px;
    cursor: pointer;

}

.titulo-youtube{
    color: white;
    text-shadow: #FFFFFF;
    margin-bottom: var(--espacio);

}

/*
    -------------------------------------
            Principal!!!
    -------------------------------------
*/
.principal {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: var(--espacio);
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 20px;
}
/*
    -------------------------------------
            EXPERIENCIAS!!!
    -------------------------------------
*/



.experiencia-titulo {
    margin-bottom: 20px;
    font-size: 20px;
}
.experiencia-info {
    display: flex;
    align-items: flex-start;
}
.experiencia-imagen {
    margin-right: 10px;
}


/*
    -------------------------------------
            Newsletter
    -------------------------------------
*/
.news {
    display: flex;
    align-items: flex-end;
    background-color: cornflowerblue;
    margin-bottom: var(--espacio);
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px 30px;
    border-radius: 25px;
    border: 10px solid beige ;

  
}

.news-info,
.news-info p {
    padding-left: 60px;
    text-align: center;
}

.news-form {
    flex-grow: 1;
    text-align: right;
    display: block;
}
.news-form_boton {
   
    background: none;
    border: none;
    font-weight: bold;
    
    
    cursor: pointer;

    padding: 4px 10px;
}
.experiencia-texto {
    color: rgb(19, 19, 168);
}
.nav a:hover {
    
    background-color: var(--celeste);
    color: var(--blanco);
}

.card {
    width: 340px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 30px 30px 0 0;
    background-image:-moz-repeating-linear-gradient();
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 2px 2px 5px 2px rgb(222, 222, 222);
    margin: 30px;
    display: inline-block;
    

  }
  
  .card img {
    max-width: 100%;
   

  }
  
  .card .contenido {
      background-image: linear-gradient(var(--celeste) 50%, var(--blanco));

   
    padding: 30px;
  }
  
  .card h2 {
    text-align: center;
    margin-top: 0;
    color:var(--negro)
  }
  
  .card a {
    display: inline-block;
    color: white;
    background-color: var(--negro2);
    border-radius: 30px;
    padding: 15px 20px;
    text-decoration: none;
  }
  
  .center {
    text-align: center;
  }
  section{display:inline-block;width:33%;
    margin-bottom: 150px;
}








/*
    -------------------------------------
           ACA COMIENZA LA PAGINA
                DE  CONTACTO
    -------------------------------------
*/