*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background:var(--celeste);
	font-family: 'Open Sans', sans-serif;
}
:root {
  
    --naranja: #F90;
    --amarillo: rgb(255, 217, 0);
    --negro: #000;
    --negro2: #444;
    --gris: #BBB;
    --blanco: #FFFFFF;
    --espacio: 60px;
    --azul: rgb(22, 9, 212);
    --celeste:cornflowerblue;
}

.nav__ul_responsive {
    display: none;
    
}

.nav {
    background-color: var(--celeste);
   

}
.nav__li {
    display: inline-block;
    padding: 15px; 
  
}

.nav__li a {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Lobster', cursive;
}
 
.nav__li :hover {
    color: #bbb;
}

.nav__li :hover > a{
    color: #bbb;
}


.nav__li i {
    color: whitesmoke;
    width: 30px;
    box-sizing: border-box;
    text-align: right;
    margin-right: 5px;
   
} 

.nav__responsive_buttom_container{
    position: absolute;
    width:100%;
    font-size: 29px;
    background-color: var(--celeste);
    text-align: center;
    margin-top: -60px;

}

.nav__responsive_buttom {

    padding: 6px 20px;
    text-align: right;
    width: 100% ;
     
}
    

@media only screen and ( max-width: 1050px) {
    .nav__ul {
        display: none;
    }


    .nav {
        width: 100%;
        background-color: cornflowerblue;
    }

    .nav__ul_responsive {
        display: block;
        position: absolute;
        width: 100%;
        height: 37px;
        padding: 0; 
        margin-top: 37px;
        padding-top: 27px;
        
         
    }
     .nav__li_container  {
        position: relative;
        top: -1000px;
        height: calc(100vh -64px);
        background-color:var(--celeste);
        transition: all 1.5s;
        z-index: 1;
        width: 50%;
        padding-top: 27px;
        opacity: 0.9;
      
    } 
.nav__li_responsive {
    width: 100%;
    padding: 10px 20px;
    margin-left: 3 0px;
    font-family: 'PT Serif', serif;


} 


.nav__li_responsive i {

   box-sizing: border-box;
   text-align: center;
   margin-right: 5px;
   width: 30px;
   color: blue;

}

.nav__li_responsive a {
    color:blue ;
    text-decoration: none;
}

.nav__ul_responsive:hover > .nav__li_container {

    top: -27px;

}

}

.wrap{
	max-width: 1100px;
	width: 90%;
	margin: auto;
}

.wrap > h1{
	color: #494B4D;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	text-align: center;
	margin: 15px 0px;
}

.wrap > h1:after{
	content: '';
	width: 100%;
	height: 1px;
	background: #C7C7C7;
	margin: 20px 0;
}

.store-wrapper{
	display: flex;
	flex-wrap: wrap;
}

.category_list{
	display: flex;
	flex-direction: column;
	width: 18%;
}

.category_list .category_item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;

	text-align: center;
	text-decoration: none;
	color: #fff;
}

.category_list .ct_item-active{
	background: #2D3E50;
}
.titulo-busca {
	display: flex;
    justify-content: center; 
    color: white;
    text-shadow: #FFFFFF;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 20px;
    font-size: 50px;


}


.products-list{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}


.products-list .product-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);

	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;

	transition: all .4s;
}

.products-list .product-item img{
	width: 100%;
}

.products-list .product-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;

	color: #fff;
	text-align: center;
	text-decoration: none;
}

/* RESPONSIVE ================================*/

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.category_list,
	.products-list{
		width: 100%;
	}

	.category_list{
		flex-direction: row;
		justify-content: space-between;
	}

	.category_list .category_item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.products-list .product-item{
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.category_list{
		flex-direction: column;
	}
	.category_list .category_item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.products-list .product-item{
		width: 47.5%;
	}

	.products-list .product-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.products-list .product-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.products-list .product_item{
		width: 100%;
		margin-left: 0px;
	}
}